<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Product</title>
    <link rel="icon" href="/public/favicon.png" />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body class="dashboard layout">
    <%- include("partials/sidebar", { active }) %>
    <section class="content"></section>
    <script src="/public/app.js" defer></script>
  </body>
</html>
